version: '3.8'

services:
  sensor-service:
    build: ./sensor-service
    container_name: sensor-service
    ports:
      - "5001:5001"

  collector-service:
    build: ./collector-service
    container_name: collector-service
    ports:
      - "5002:5002"
    depends_on:
      - sensor-service

  analyzer-service:
    build: ./analyzer-service
    container_name: analyzer-service
    depends_on:
      - collector-service

  rqlite1:
    build: .
    container_name: rqlite1
    ports:
      - "4001:4001"
      - "4002:4002"
    volumes:
      - rqlite1_data:/rqlite/data
    command: ["rqlited", "-node-id", "node1", "-http-addr", "rqlite1:4001", "-raft-addr", "rqlite1:4002", "./rqDB/data"]

  rqlite2:
    build: .
    container_name: rqlite2
    ports:
      - "4003:4003"
      - "4004:4004"
    volumes:
      - rqlite2_data:/rqlite/data
    command: ["rqlited", "-node-id", "node2", "-http-addr", "rqlite2:4003", "-raft-addr", "rqlite2:4004", "-join", "rqlite1:4002", "./rqDB/data"] 

  rqlite3:
    build: .
    container_name: rqlite3
    ports:
      - "4005:4005"
      - "4006:4006"
    volumes:
      - rqlite3_data:/rqlite/data
    command: ["rqlited", "-node-id", "node3", "-http-addr", "rqlite3:4005", "-raft-addr", "rqlite3:4006", "-join", "rqlite1:4002", "./rqDB/data"]

  rqlite4:
    build: .
    container_name: rqlite4
    ports:
      - "4007:4007"
      - "4008:4008"
    volumes:
      - rqlite4_data:/rqlite/data
    command: ["rqlited", "-node-id", "node4", "-http-addr", "rqlite4:4007", "-raft-addr", "rqlite4:4008", "-join", "rqlite1:4002", "./rqDB/data"]

  rqlite5:
    build: .
    container_name: rqlite5
    ports:
      - "4009:4009"
      - "4010:4010"
    volumes:
      - rqlite5_data:/rqlite/data
    command: ["rqlited", "-node-id", "node5", "-http-addr", "rqlite5:4009", "-raft-addr", "rqlite5:4010", "-join", "rqlite1:4002", "./rqDB/data"]

volumes:
  rqlite1_data:
  rqlite2_data:
  rqlite3_data:
  rqlite4_data:
  rqlite5_data:

